@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial.", serif;
    font-weight: 400;
    font-style: normal;
    background: url(37924.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: #fff;
}

.title{
    font-family: "Love Light", serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.child-element{
    text-align: center;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    background-color: #ff3396;
    box-shadow: 5px 5px 5px #ff3396;
    border-radius: 25px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.text{
    margin-top: 40px;
}

.sub-text{
    margin-top: 20px;
}

.footer{
    margin-top: 40px;
}

.title_f{
    font-size: 50px;
}